.Search input {
  font-size: 18px;
  border-radius: 5px;
  border: 1px none;
  padding: 10px 15px;
  margin: 10px 0;
}

.Search .searchButton {
  background: teal;
  color: white;
}

Search .searchBar {
  background: white;
  width: 50%;
}
