.Weather {
  margin: 20px 0;
  font-size: 18px;
}

.Weather .weatherConditions {
  text-align: left;
}

.Weather h1 {
  font-size: 45px;
}

.Weather .tempDigits {
  font-size: 70px;
}

@media (max-width: 900px) {
  .Weather {
    font-size: 10px;
  }
  .Weather h1 {
    font-size: 23px;
  }
  .Weather .tempDigits {
    font-size: 33px;
  }
}
