.Weather {
  margin: 15px;
  font-size: 18px;
}

.Weather h1 {
  font-size: 45px;
  text-align: left;
}

.Weather .tempDigits {
  font-size: 80px;
}

.Weather .currentTemp {
  font-size: 80px;
}

.Weather .currentUnit {
  font-size: 40px;
}
